<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>toy_background_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>toy_background_5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>toy_dragon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1100},{239,168}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,32},{239,168}}</string>
                <key>sourceSize</key>
                <string>{353,250}</string>
            </dict>
            <key>toy_dragon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,724},{267,204}}</string>
                <key>offset</key>
                <string>{10,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{267,204}}</string>
                <key>sourceSize</key>
                <string>{353,250}</string>
            </dict>
            <key>toy_dragon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1284},{311,208}}</string>
                <key>offset</key>
                <string>{21,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,16},{311,208}}</string>
                <key>sourceSize</key>
                <string>{353,250}</string>
            </dict>
            <key>toy_dragon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1284},{321,206}}</string>
                <key>offset</key>
                <string>{-16,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{321,206}}</string>
                <key>sourceSize</key>
                <string>{353,250}</string>
            </dict>
            <key>toy_dragon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1284},{311,208}}</string>
                <key>offset</key>
                <string>{21,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,16},{311,208}}</string>
                <key>sourceSize</key>
                <string>{353,250}</string>
            </dict>
            <key>toy_dragon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,724},{267,204}}</string>
                <key>offset</key>
                <string>{10,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{267,204}}</string>
                <key>sourceSize</key>
                <string>{353,250}</string>
            </dict>
            <key>toy_dragon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1100},{239,168}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,32},{239,168}}</string>
                <key>sourceSize</key>
                <string>{353,250}</string>
            </dict>
            <key>toy_dragon_eruption_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,94},{50,32}}</string>
                <key>offset</key>
                <string>{119,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,42},{50,32}}</string>
                <key>sourceSize</key>
                <string>{288,176}</string>
            </dict>
            <key>toy_dragon_eruption_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,2},{90,40}}</string>
                <key>offset</key>
                <string>{99,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,39},{90,40}}</string>
                <key>sourceSize</key>
                <string>{288,176}</string>
            </dict>
            <key>toy_dragon_eruption_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1962},{168,74}}</string>
                <key>offset</key>
                <string>{60,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,25},{168,74}}</string>
                <key>sourceSize</key>
                <string>{288,176}</string>
            </dict>
            <key>toy_dragon_eruption_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1100},{224,128}}</string>
                <key>offset</key>
                <string>{30,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,7},{224,128}}</string>
                <key>sourceSize</key>
                <string>{288,176}</string>
            </dict>
            <key>toy_dragon_eruption_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,930},{244,168}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{244,168}}</string>
                <key>sourceSize</key>
                <string>{288,176}</string>
            </dict>
            <key>toy_dragon_eruption_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1100},{144,148}}</string>
                <key>offset</key>
                <string>{-72,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{144,148}}</string>
                <key>sourceSize</key>
                <string>{288,176}</string>
            </dict>
            <key>toy_dragon_eruption_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1962},{76,122}}</string>
                <key>offset</key>
                <string>{-100,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,35},{76,122}}</string>
                <key>sourceSize</key>
                <string>{288,176}</string>
            </dict>
            <key>toy_grabber_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1636},{324,317}}</string>
                <key>offset</key>
                <string>{149,123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{298,0},{324,317}}</string>
                <key>sourceSize</key>
                <string>{622,563}</string>
            </dict>
            <key>toy_grabber_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{384,267}}</string>
                <key>offset</key>
                <string>{53,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,117},{384,267}}</string>
                <key>sourceSize</key>
                <string>{622,563}</string>
            </dict>
            <key>toy_grabber_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1670},{370,255}}</string>
                <key>offset</key>
                <string>{61,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,68},{370,255}}</string>
                <key>sourceSize</key>
                <string>{622,563}</string>
            </dict>
            <key>toy_grabber_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1670},{360,285}}</string>
                <key>offset</key>
                <string>{71,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,32},{360,285}}</string>
                <key>sourceSize</key>
                <string>{622,563}</string>
            </dict>
            <key>toy_grabber_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1284},{350,295}}</string>
                <key>offset</key>
                <string>{107,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,19},{350,295}}</string>
                <key>sourceSize</key>
                <string>{622,563}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_resource_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4bfbfe44dbc6350f35cb0f886355894:1/1$</string>
            <key>textureFileName</key>
            <string>game_resource_1.png</string>
        </dict>
    </dict>
</plist>
