<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buy_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,1110},{169,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,192}}</string>
                <key>sourceSize</key>
                <string>{169,192}</string>
            </dict>
            <key>buyer_monkey_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1843},{141,159}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,159}}</string>
                <key>sourceSize</key>
                <string>{141,161}</string>
            </dict>
            <key>buyer_monkey_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1680},{141,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,161}}</string>
                <key>sourceSize</key>
                <string>{141,161}</string>
            </dict>
            <key>buyer_monkey_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,965},{141,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,161}}</string>
                <key>sourceSize</key>
                <string>{141,161}</string>
            </dict>
            <key>buyer_pig_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1843},{108,161}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,161}}</string>
                <key>sourceSize</key>
                <string>{108,163}</string>
            </dict>
            <key>buyer_pig_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1841},{108,161}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,161}}</string>
                <key>sourceSize</key>
                <string>{108,163}</string>
            </dict>
            <key>buyer_pig_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1841},{108,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,163}}</string>
                <key>sourceSize</key>
                <string>{108,163}</string>
            </dict>
            <key>buyer_rabbit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1705},{99,188}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,188}}</string>
                <key>sourceSize</key>
                <string>{99,190}</string>
            </dict>
            <key>buyer_rabbit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,1284},{99,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,190}}</string>
                <key>sourceSize</key>
                <string>{99,190}</string>
            </dict>
            <key>buyer_rabbit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,1920},{99,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,190}}</string>
                <key>sourceSize</key>
                <string>{99,190}</string>
            </dict>
            <key>buyer_sheep_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,1802},{121,155}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,155}}</string>
                <key>sourceSize</key>
                <string>{121,159}</string>
            </dict>
            <key>buyer_sheep_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1772},{121,157}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,157}}</string>
                <key>sourceSize</key>
                <string>{121,159}</string>
            </dict>
            <key>buyer_sheep_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1641},{121,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,159}}</string>
                <key>sourceSize</key>
                <string>{121,159}</string>
            </dict>
            <key>common_game_over_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1284},{582,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,355}}</string>
                <key>sourceSize</key>
                <string>{582,355}</string>
            </dict>
            <key>common_game_over_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,724},{582,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,355}}</string>
                <key>sourceSize</key>
                <string>{582,355}</string>
            </dict>
            <key>drawer_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{753,482}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,34},{753,482}}</string>
                <key>sourceSize</key>
                <string>{793,520}</string>
            </dict>
            <key>koala_move_left_gift_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,1641},{129,152}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{129,152}}</string>
                <key>sourceSize</key>
                <string>{165,154}</string>
            </dict>
            <key>koala_move_left_gift_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1641},{129,154}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{129,154}}</string>
                <key>sourceSize</key>
                <string>{165,154}</string>
            </dict>
            <key>toy_background_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>toy_background_5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>toy_dragon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,724},{239,168}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,32},{239,168}}</string>
                <key>sourceSize</key>
                <string>{353,250}</string>
            </dict>
            <key>toy_dragon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,1641},{267,204}}</string>
                <key>offset</key>
                <string>{10,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{267,204}}</string>
                <key>sourceSize</key>
                <string>{353,250}</string>
            </dict>
            <key>toy_dragon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,1284},{311,208}}</string>
                <key>offset</key>
                <string>{21,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,16},{311,208}}</string>
                <key>sourceSize</key>
                <string>{353,250}</string>
            </dict>
            <key>toy_dragon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,1597},{321,206}}</string>
                <key>offset</key>
                <string>{-16,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{321,206}}</string>
                <key>sourceSize</key>
                <string>{353,250}</string>
            </dict>
            <key>toy_dragon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,1284},{311,208}}</string>
                <key>offset</key>
                <string>{21,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,16},{311,208}}</string>
                <key>sourceSize</key>
                <string>{353,250}</string>
            </dict>
            <key>toy_dragon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,1641},{267,204}}</string>
                <key>offset</key>
                <string>{10,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{267,204}}</string>
                <key>sourceSize</key>
                <string>{353,250}</string>
            </dict>
            <key>toy_dragon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,724},{239,168}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,32},{239,168}}</string>
                <key>sourceSize</key>
                <string>{353,250}</string>
            </dict>
            <key>toy_dragon_eruption_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,1476},{50,32}}</string>
                <key>offset</key>
                <string>{119,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,42},{50,32}}</string>
                <key>sourceSize</key>
                <string>{288,176}</string>
            </dict>
            <key>toy_dragon_eruption_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,1476},{90,40}}</string>
                <key>offset</key>
                <string>{99,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,39},{90,40}}</string>
                <key>sourceSize</key>
                <string>{288,176}</string>
            </dict>
            <key>toy_dragon_eruption_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1961,1568},{168,74}}</string>
                <key>offset</key>
                <string>{60,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,25},{168,74}}</string>
                <key>sourceSize</key>
                <string>{288,176}</string>
            </dict>
            <key>toy_dragon_eruption_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1479},{224,128}}</string>
                <key>offset</key>
                <string>{30,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,7},{224,128}}</string>
                <key>sourceSize</key>
                <string>{288,176}</string>
            </dict>
            <key>toy_dragon_eruption_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1110},{244,168}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{244,168}}</string>
                <key>sourceSize</key>
                <string>{288,176}</string>
            </dict>
            <key>toy_dragon_eruption_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1680},{144,148}}</string>
                <key>offset</key>
                <string>{-72,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{144,148}}</string>
                <key>sourceSize</key>
                <string>{288,176}</string>
            </dict>
            <key>toy_dragon_eruption_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1945,1920},{76,122}}</string>
                <key>offset</key>
                <string>{-100,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,35},{76,122}}</string>
                <key>sourceSize</key>
                <string>{288,176}</string>
            </dict>
            <key>toy_grabber_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,1636},{324,317}}</string>
                <key>offset</key>
                <string>{149,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,0},{324,317}}</string>
                <key>sourceSize</key>
                <string>{622,563}</string>
            </dict>
            <key>toy_grabber_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,724},{384,267}}</string>
                <key>offset</key>
                <string>{53,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,117},{384,267}}</string>
                <key>sourceSize</key>
                <string>{622,563}</string>
            </dict>
            <key>toy_grabber_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1308},{370,255}}</string>
                <key>offset</key>
                <string>{61,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,68},{370,255}}</string>
                <key>sourceSize</key>
                <string>{622,563}</string>
            </dict>
            <key>toy_grabber_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1479},{360,285}}</string>
                <key>offset</key>
                <string>{71,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,32},{360,285}}</string>
                <key>sourceSize</key>
                <string>{622,563}</string>
            </dict>
            <key>toy_grabber_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,1284},{350,295}}</string>
                <key>offset</key>
                <string>{107,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,19},{350,295}}</string>
                <key>sourceSize</key>
                <string>{622,563}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_resource_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cd7afac9ee8035fc4a9c9f0f2f1e3d0:1/1$</string>
            <key>textureFileName</key>
            <string>game_resource_1.png</string>
        </dict>
    </dict>
</plist>
