<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>game_background</key>
	<string>game_background.jpg</string>
	<key>shelf</key>
	<string>shelf.png</string>
	<key>shelf_position</key>
	<string>{.6672,.5347}</string>
	<key>shelf_size</key>
	<string>{4,4}</string>
	<key>drawer_nor</key>
	<string>drawer_nor.png</string>
	<key>drawer_sel</key>
	<string>drawer_sel.png</string>
	<key>drawer_size</key>
	<string>{186,113}</string>
	<key>drawer_start_pos</key>
	<string>{106.5,93}</string>
	<key>desk</key>
	<string>desk.png</string>
	<key>desk_position</key>
	<string>{.2266,.3569}</string>
	<key>toy_type_0</key>
	<string>toy_cap_pistol.png</string>
	<key>toy_type_1</key>
	<string>toy_harmonica_s.png</string>
	<key>toy_type_2</key>
	<string>toy_frog.png</string>
	<key>toy_type_3</key>
	<string>toy_transformer.png</string>
	<key>toy_type_4</key>
	<string>toy_panda.png</string>
	<key>toy_type_5</key>
	<string>toy_doll.png</string>
	<key>toy_type_6</key>
	<string>toy_helicopter.png</string>
	<key>toy_type_7</key>
	<string>toy_grab.png</string>
	<key>toy_type_8</key>
	<string>toy_dragon.png</string>
	<key>toy_type_9</key>
	<string>toy_chick.png</string>
	<key>toy_cap_pistol</key>
	<string>toy_cap_pistol_0.png</string>
	<key>toy_cap_pistol_animation</key>
	<string>toy_cap_pistol_%d.png</string>
	<key>toy_cap_pistol_animation_count</key>
	<string>3</string>
	<key>toy_background_type</key>
	<string>toy_background_%d</string>
	<key>toy_harmonica</key>
	<string>toy_harmonica.png</string>
	<key>harmonica_num</key>
	<string>harmonica_num_%d.png</string>
	<key>toy_transformer</key>
	<string>toy_transformer_0_0.png</string>
	<key>toy_transformer_animation</key>
	<string>toy_transformer_%d_%d.png</string>
	<key>toy_panda</key>
	<string>toy_panda_0.png</string>
	<key>toy_panda_animation_tickle</key>
	<string>toy_panda_0_%d.png</string>
	<key>toy_panda_animation_cry</key>
	<string>toy_panda_1_%d.png</string>
	<key>toy_panda_animation_smile</key>
	<string>toy_panda_head_0_%d.png</string>
	<key>toy_panda_animation_head_eat</key>
	<string>toy_panda_head_1_%d.png</string>
	<key>toy_panda_animation_hand_eat</key>
	<string>toy_panda_hand_%d_%d.png</string>
	<key>toy_panda_head</key>
	<string>toy_panda_head_0_0.png</string>
	<key>toy_panda_hand</key>
	<string>toy_panda_hand_0_0.png</string>
	<key>toy_panda_downPart</key>
	<string>toy_panda_body_1.png</string>
	<key>toy_frog</key>
	<string>toy_frog_0.png</string>
	<key>toy_frog_animation</key>
	<string>toy_frog_%d.png</string>
	<key>toy_doll_default</key>
	<string>toy_doll_default.png</string>
	<key>toy_doll_hair_small</key>
	<string>toy_doll_hair_s_%d.png</string>
	<key>toy_doll_hair_big</key>
	<string>toy_doll_hair_b_%d.png</string>
	<key>toy_doll_cloth_small</key>
	<string>toy_doll_cloth_s_%d.png</string>
	<key>toy_doll_cloth_big</key>
	<string>toy_doll_cloth_b_%d.png</string>
	<key>toy_helicopter</key>
	<string>toy_helicopter_0.png</string>
	<key>toy_helicopter_animation</key>
	<string>toy_helicopter_%d.png</string>
	<key>koala</key>
	<string>koala_front_0.png</string>
	<key>koala_animation_front_turn_left</key>
	<string>koala_front_turn_left_%d.png</string>
	<key>koala_animation_move_right</key>
	<string>koala_move_right_%d.png</string>
	<key>koala_animation_right_turn_back</key>
	<string>koala_right_turn_back_%d.png</string>
	<key>koala_animation_up_ladder</key>
	<string>koala_up_ladder_%d.png</string>
	<key>koala_animation_down_ladder_gift</key>
	<string>koala_down_ladder_gift_%d.png</string>
	<key>koala_animation_drag_ladder</key>
	<string>koala_up_ladder_0.png</string>
	<key>koala_ladder</key>
	<string>koala_ladder.png</string>
	<key>toy_background_0</key>
	<string>toy_background_1.jpg</string>
	<key>toy_background_1</key>
	<string>toy_background_1.jpg</string>
	<key>toy_background_2</key>
	<string>toy_background_2.jpg</string>
	<key>toy_background_3</key>
	<string>toy_background_1.jpg</string>
	<key>toy_background_4</key>
	<string>toy_background_2.jpg</string>
	<key>toy_background_5</key>
	<string>toy_background_5.jpg</string>
	<key>toy_background_6</key>
	<string>toy_background_1.jpg</string>
	<key>toy_background_7</key>
	<string>toy_background_2.jpg</string>
	<key>toy_background_8</key>
	<string>toy_background_1.jpg</string>
	<key>toy_background_9</key>
	<string>toy_background_9.jpg</string>
	<key>toy_cap_pistol_bullet</key>
	<string>toy_cap_pistol_bullet.png</string>
	<key>toy_doll_empty</key>
	<string>toy_doll_empty.png</string>
	<key>toy_doll_hair_pos_0</key>
	<string>{-27,235}</string>
	<key>toy_doll_hair_pos_1</key>
	<string>{-24,232}</string>
	<key>toy_doll_hair_pos_2</key>
	<string>{-17,232}</string>
	<key>toy_doll_cloth_pos_0</key>
	<string>{-14,-54}</string>
	<key>toy_doll_cloth_pos_1</key>
	<string>{-12,-44}</string>
	<key>toy_doll_cloth_pos_2</key>
	<string>{-23,-32}</string>
	<key>toy_doll_cloth_pos_3</key>
	<string>{-22,-38}</string>
	<key>toy_doll_cloth_pos_4</key>
	<string>{-20,-36}</string>
	<key>toy_doll_cloth_pos_5</key>
	<string>{-21,-28}</string>
	<key>toy_helicopter_rect_0</key>
	<string>{{282,0},{88,316}}</string>
	<key>toy_helicopter_rect_1</key>
	<string>{{538,0},{100,158}}</string>
	<key>toy_helicopter_rect_2</key>
	<string>{{690,402},{162,308}}</string>
	<key>toy_helicopter_rect_3</key>
	<string>{{954,0},{110,152}}</string>
	<key>toy_helicopter_rect_4</key>
	<string>{{1062,0},{110,232}}</string>
	<key>toy_helicopter_rect_5</key>
	<string>{{1292,0},{116,244}}</string>
	<key>toy_helicopter_rect_6</key>
	<string>{{1322,492},{114,248}}</string>
	<key>toy_helicopter_rect_7</key>
	<string>{{1510,492},{152,228}}</string>
	<key>toy_helicopter_rect_8</key>
	<string>{{1876,0},{158,330}}</string>
	<key>toy_helicopter_rect_9</key>
	<string>{{2078,580},{114,160}}</string>
	<key>toy_helicopter_rect_10</key>
	<string>{{2354,398},{98,352}}</string>
	<key>toy_helicopter_rect_11</key>
	<string>{{2656,432},{78,306}}</string>
	<key>toy_helicopter_animation_explosion</key>
	<string>toy_helicopter_explosion_%d.png</string>
	<key>toy_grab_animation</key>
	<string>toy_grabber_%d.png</string>
	<key>toy_grab</key>
	<string>toy_grab_0.png</string>
	<key>toy_grabber</key>
	<string>toy_grabber_0.png</string>
	<key>toy_dragon_animation_fly</key>
	<string>toy_dragon_%d.png</string>
	<key>toy_dragon_animation_eruption</key>
	<string>toy_dragon_eruption_%d.png</string>
	<key>toy_chick_animation</key>
	<string>toy_chick_%d.png</string>
	<key>common_back_btn_nor</key>
	<string>common_back_btn_nor.png</string>
	<key>common_back_btn_sel</key>
	<string>common_back_btn_sel.png</string>
	<key>toy_holder</key>
	<string>toy_holder.png</string>
</dict>
</plist>
