<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>toy_cap_pistol_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{795,566}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{795,566}}</string>
                <key>sourceSize</key>
                <string>{795,566}</string>
            </dict>
            <key>toy_cap_pistol_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,2},{795,566}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{795,566}}</string>
                <key>sourceSize</key>
                <string>{795,566}</string>
            </dict>
            <key>toy_cap_pistol_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{795,566}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{795,566}}</string>
                <key>sourceSize</key>
                <string>{795,566}</string>
            </dict>
            <key>toy_cap_pistol_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1367},{795,539}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{795,539}}</string>
                <key>sourceSize</key>
                <string>{795,539}</string>
            </dict>
            <key>toy_cap_pistol_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,2},{256,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,93}}</string>
                <key>sourceSize</key>
                <string>{256,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>toy_animation_0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3e07f1b73710f8020b1fd5e63b49f2f:1/1$</string>
            <key>textureFileName</key>
            <string>toy_animation_0.png</string>
        </dict>
    </dict>
</plist>
