<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>toy_panda_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1120},{520,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,599}}</string>
                <key>sourceSize</key>
                <string>{520,599}</string>
            </dict>
            <key>toy_panda_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1017},{520,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,599}}</string>
                <key>sourceSize</key>
                <string>{520,599}</string>
            </dict>
            <key>toy_panda_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{520,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,599}}</string>
                <key>sourceSize</key>
                <string>{520,599}</string>
            </dict>
            <key>toy_panda_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,524},{520,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,599}}</string>
                <key>sourceSize</key>
                <string>{520,599}</string>
            </dict>
            <key>toy_panda_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,495},{520,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,599}}</string>
                <key>sourceSize</key>
                <string>{520,599}</string>
            </dict>
            <key>toy_panda_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,2},{520,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,599}}</string>
                <key>sourceSize</key>
                <string>{520,599}</string>
            </dict>
            <key>toy_panda_hand_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,1627},{266,279}}</string>
                <key>offset</key>
                <string>{-46,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,100},{266,279}}</string>
                <key>sourceSize</key>
                <string>{358,379}</string>
            </dict>
            <key>toy_panda_hand_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,1627},{276,231}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,97},{276,231}}</string>
                <key>sourceSize</key>
                <string>{358,379}</string>
            </dict>
            <key>toy_panda_hand_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1857},{308,171}}</string>
                <key>offset</key>
                <string>{25,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,100},{308,171}}</string>
                <key>sourceSize</key>
                <string>{358,379}</string>
            </dict>
            <key>toy_panda_hand_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,1627},{274,233}}</string>
                <key>offset</key>
                <string>{27,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,0},{274,233}}</string>
                <key>sourceSize</key>
                <string>{358,379}</string>
            </dict>
            <key>toy_panda_head_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,1539},{316,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,253}}</string>
                <key>sourceSize</key>
                <string>{316,253}</string>
            </dict>
            <key>toy_panda_head_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1539},{316,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,253}}</string>
                <key>sourceSize</key>
                <string>{316,253}</string>
            </dict>
            <key>toy_panda_head_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1642},{316,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,253}}</string>
                <key>sourceSize</key>
                <string>{316,253}</string>
            </dict>
            <key>toy_panda_head_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1642},{316,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,253}}</string>
                <key>sourceSize</key>
                <string>{316,253}</string>
            </dict>
            <key>toy_panda_head_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1642},{316,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,253}}</string>
                <key>sourceSize</key>
                <string>{316,253}</string>
            </dict>
            <key>toy_transformer_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,2},{491,602}}</string>
                <key>offset</key>
                <string>{198,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{399,0},{491,602}}</string>
                <key>sourceSize</key>
                <string>{893,602}</string>
            </dict>
            <key>toy_transformer_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,1046},{579,598}}</string>
                <key>offset</key>
                <string>{154,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{311,4},{579,598}}</string>
                <key>sourceSize</key>
                <string>{893,602}</string>
            </dict>
            <key>toy_transformer_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{727,594}}</string>
                <key>offset</key>
                <string>{80,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,8},{727,594}}</string>
                <key>sourceSize</key>
                <string>{893,602}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>toy_animation_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec613e706265293f4eafa2b3a7d277a6:1/1$</string>
            <key>textureFileName</key>
            <string>toy_animation_1.png</string>
        </dict>
    </dict>
</plist>
